<div id="aboutBox">
  <img id="headshot" src="../assets/images/MattWilson.jpg">
  <p>I am a full stack developer, proficient in a number of different languages and frameworks.
    I am relatively new to the industry but have always had a passion for creation and creativity.
    I learned web development through Coding Dojo, where I spent three months of 90 hour weeks
    acquiring proficiency in Python, C#, and MEAN. I thoroughly enjoyed my time developing these skills,
    and I am eager to continue to learn new technologies and increase my skill set.
  </p>
  <p>When not coding, I am usually still creating. I have written a few novels and I continue
    to write for enjoyment. I am a Seattle native, and I currently live in North Seattle with
    my wife and two children.
  </p>
</div>