<div id="aboutBox">
  <img id="headshot" src="../assets/images/MattWilson.jpg"><br>
  <p>I am a full stack developer, proficient in a number of different languages and frameworks.
    I am relatively new to the industry but have always had a passion for creation and creativity.
    I learned web development through Coding Dojo, where I spent three months of 90 hour weeks
    acquiring proficiency in Python, C#, and MEAN. I thoroughly enjoyed my time developing these skills,
    and I am eager to continue to learn new technologies and increase my skill set.
  </p><br>
  <p>My previous career was in the public health research world, where I managed large
    teams of data collectors and the large data sets they collected. I have many years
    of experience managing people and projects, including interviewing, hiring, and training.
  </p><br>
  <p>When not coding, I am usually still creating. I have written a few novels and I continue
    to write for enjoyment. I also make music in my free time. I am a Seattle native,
     and I currently live in North Seattle with my wife and two children.
  </p>
  <h4>Click below to download my resum&eacute;:</h4>
  <a id="reslink" href="../assets/documents/wilson_matthew_w_resume.docx" download>Resum&eacute;</a>
</div>
