<div id="projectsBox">
    <img id="headshot" src="../assets/images/MattWilson.jpg">
    <p>I have worked on a number of projects, using multiple languages and frameworks.
      Here are some of my favorites:
    </p>

    <div class="project">
      <h3>Bright Ideas</h3>
      <img src="../assets/images/bright_ideas.png">
      <p>Bright Ideas is a website where, once registered and logged in,
        a user can post any ideas they might have. They can delete their own
        posts, and they can like other ideas that have been posted. All the ideas
        are shown on the screen, sorted by the number of likes each one has accumulated.
        This project was written in C# with the Entity Core Framework, using 
        a MySQL database, and deployed as an EC2 instance using Amazon Web Services.
      </p>
      <p>Github Link: <a href="https://github.com/wilsonmw/CSharp-BrightIdeas">Bright Ideas</a></p>
    </div>

    <div class="project">
      <h3>Group Chat</h3>
      <img src="../assets/images/group_chat.png">
      <p>This was a simple project that used Socket.IO to create a chatroom.
        Upon first loading the page, the user was prompted for their name.
        They could then post messages to the screen that other users could
        see in real time. Many users could all be chatting with each other simultaneously.
      </p>
      <p>Github Link: <a href="https://github.com/wilsonmw/MEAN/tree/master/GroupChat">Group Chat</a></p>
    </div>

    <div class="project">
      <h3>Quotable Quotes</h3>
      <img src="../assets/images/quotes.png">
      <p>This project allowed users to post famous quotes for others to see.
        A user could delete their own posts, and anyone could select quotes
        as their favorites. A user's favorite quotes were displayed on one portion
        of the page, and all the other quotes displayed on a different portion.
        This project was written in Python, using the Django framework, and a MySQL
        database. It was deployed as an EC2 instance using Amazon Web Services.
      </p>
      <p>Github Link: <a href="https://github.com/wilsonmw/Python-Quotes">Quotable Quotes</a></p>
    </div>

    <div class="project">
      <h3>Surveys</h3>
      <img src="../assets/images/surveys1.png">
      <img src="../assets/images/surveys2.png">
      <p>Surveys was a website that allowed users to post questions with a few different
        answers, and other users could vote on the option they thought was best. A user
        could delete their own surveys, but no one elses. This project was made with MEAN
        (MongoDB, Express.js, Angular, and Node.js) and was deployed as an EC2 instance
        using Amazon Web Services.
      </p>
      <p>Github Link: <a href="https://github.com/wilsonmw/MEAN-Surveys">Surveys</a></p>
    </div>
</div>