<div id="contactBox">
  <img id="headshot" src="../assets/images/MattWilson.jpg">
  <br>
  <p>I can be contacted in a number of ways:</p><br>
  <div id="ways">
    <p>Linked In: <a href="https://www.linkedin.com/in/matthew-w-wilson/"><img src="../assets/images/linkedin.png"></a></p>
    <p>Github: <a href="https://github.com/wilsonmw"><img src="../assets/images/github.png"></a></p>
    <p>Facebook: <a href="https://www.facebook.com/matt.wilson.14473426"><img src="../assets/images/facebook.png"></a></p>
    <br>
    <p>Email: <a id="emailAddress" href="mailto:matthewwarrenwilson@gmail.com">matthewwarrenwilson@gmail.com</a></p>
  </div>
</div>