<div id="skillsBox">
    <img id="headshot" src="../assets/images/MattWilson.jpg">
    <br>

    <div id="languages">
      <h3>Languages</h3>
      <div class="skill">
        <a href="https://www.javascript.com/"><img src="../assets/images/JavaScript.png"></a>
      </div>
      <div class="skill">
        <a href="https://docs.microsoft.com/en-us/dotnet/csharp/"><img src="../assets/images/c-sharp.png"></a>
      </div>
      <div class="skill">
        <a href="https://www.python.org/"><img src="../assets/images/python.png"></a>
      </div>
      <div class="skill">
        <a href="https://html.com/"><img src="../assets/images/HTML.png"></a>
      </div>
      <div class="skill">
        <a href="https://www.w3schools.com/css/css_intro.asp"><img src="../assets/images/CSS.png"></a>
      </div>
    </div>

    <div id="frontend">
      <h3>Front End</h3>
      <div class="skill">
        <a href="https://angular.io/"><img src="../assets/images/angular.png"></a>
      </div>
      <div class="skill">
        <a href="https://www.djangoproject.com/"><img src="../assets/images/django.png"></a>
      </div>
      <div class="skill">
          <a href="https://docs.microsoft.com/en-us/aspnet/core/"><img src="../assets/images/aspnetcore.png"></a>
        </div>
      <div class="skill">
          <a href="https://docs.microsoft.com/en-us/ef/core/"><img src="../assets/images/entity.png"></a>
        </div>
      <div class="skill">
        <a href="https://www.w3schools.com/xml/ajax_intro.asp"><img src="../assets/images/ajax.png"></a>
      </div>
      <div class="skill">
        <a href="http://getbootstrap.com/"><img src="../assets/images/bootstrap.png"></a>
      </div>
    </div>

    <div id="backend">
      <h3>Back End</h3>
      <div class="skill">
        <a href="https://nodejs.org/en/"><img src="../assets/images/nodejs.png"></a>
      </div>
      <div class="skill">
        <a href="https://expressjs.com/"><img src="../assets/images/expressjs.png"></a>
      </div>
      <div class="skill">
        <a href="https://www.mongodb.com/"><img src="../assets/images/mongodb.png"></a>
      </div>
      <div class="skill">
        <a href="https://www.mysql.com/"><img src="../assets/images/mysql.png"></a>
      </div>
      <div class="skill">
        <a href="https://socket.io/"><img src="../assets/images/socket.png"></a>
      </div>
    </div>

    <div id="misc">
      <h3>Miscellaneous</h3>
      <div class="skill">
        <a href="http://mean.io/"><img src="../assets/images/MEAN.png"></a>
      </div>
      <div class="skill">
        <a href="https://github.com/"><img src="../assets/images/github.png"></a>
      </div>
    </div>
   
</div>