@media only screen and (max-width:768px){
    #skillsBox{
        width: 65vw;
        height: 65vh;
        background-color: rgba(35, 44, 43, 0.9);
        text-align: center;
        padding: 2vh 2vw 2vh 2vw;
        box-shadow: 1vw 1vh 2px black;
        border-radius: 2vh;
        margin: auto;
        margin-top: 2vh;
        margin-bottom: 5vh;
        overflow: scroll;
        color: white;
        font-size: 4.0vw
    }
    #headshot{
        width: 15vw;
        clip-path: circle(50%);
    }
    
    .skill{
        width: 14vw;
        margin-top: 2vh;
        display: block;
        margin: auto;
    }
    .skill img{
        width: 13vw;
    }
    #languages, #frontend, #backend, #misc{
        display: inline-block;
        width: 25vw;
        vertical-align: top;
        margin-left: 2vw;
        margin-right: 2vw;
    }
}



@media only screen and (min-width:769px) and (max-width:1023px){
    #skillsBox{
        width: 65vw;
        height: 65vh;
        background-color: rgba(35, 44, 43, 0.9);
        text-align: center;
        padding: 2vh 2vw 2vh 2vw;
        box-shadow: 1vw 1vh 2px black;
        border-radius: 2vh;
        margin: auto;
        margin-top: 2vh;
        margin-bottom: 5vh;
        overflow: scroll;
        color: white;
        font-size: 3.0vw
    }
    #headshot{
        width: 15vw;
        clip-path: circle(50%);
    }
    
    .skill{
        width: 11vw;
        margin-top: 2vh;
        display: block;
        margin: auto;
    }
    .skill img{
        width: 10vw;
    }
    #languages, #frontend, #backend, #misc{
        display: inline-block;
        width: 15vw;
        vertical-align: top;
        margin-left: 2vw;
        margin-right: 2vw;
    }
}




@media only screen and (min-width:1024px){
    #skillsBox{
        width: 65vw;
        height: 65vh;
        background-color: rgba(35, 44, 43, 0.9);
        text-align: center;
        padding: 2vh 2vw 2vh 2vw;
        box-shadow: 1vw 1vh 2px black;
        border-radius: 2vh;
        margin: auto;
        margin-top: 2vh;
        margin-bottom: 5vh;
        overflow: scroll;
        color: white;
        font-size: 1.8vw
    }
    #headshot{
        width: 8vw;
        clip-path: circle(50%);
    }
    
    .skill{
        width: 9vw;
        margin-top: 2vh;
        display: block;
        margin: auto;
    }
    .skill img{
        width: 7vw;
    }
    #languages, #frontend, #backend, #misc{
        display: inline-block;
        width: 13vw;
        vertical-align: top;
    }
}