#skillsBox{
    width: 65vw;
    height: 65vh;
    background-color: rgba(35, 44, 43, 0.9);
    text-align: center;
    padding: 2vh 2vw 2vh 2vw;
    box-shadow: 1vw 1vh 2px black;
    border-radius: 2vh;
    margin: auto;
    margin-top: 2vh;
    margin-bottom: 5vh;
    overflow: scroll;
    color: white;
    font-size: 1.8vw
}
#headshot{
    width: 8vw;
    clip-path: circle(50%);
}

.skill{
    width: 9vw;
    margin-top: 2vh;
    display: block;
    margin: auto;
}
.skill img{
    width: 7vw;
}
#languages, #frontend, #backend, #misc{
    display: inline-block;
    width: 13vw;
    vertical-align: top;
}